{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% load crispy_forms_filters %}

{% block content %}

<form method="post">
  {% csrf_token %}
    <div class="container px-4 px-lg-5">
        <h2>Сбросить пароль</h2>
        {{form | crispy}}
    </div>
    <div class="d-grid gap-2 container px-4 px-lg-5">
        <button type="submit" value="Reset password" class="btn btn-primary">Сбросить  пароль</button>
    </div>
</form>
{#  <form action="" method="post">{% csrf_token %}#}
{#    {% if form.email.errors %}{{ form.email.errors }}{% endif %}#}
{#    <p>{{ form.email }}</p>#}
{#    <input type="submit" class='btn btn-default btn-lg' value="Reset password"/>#}
{#  </form>#}

{% endblock %}